<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="homepage.css">
    <script src="script.js"></script>

</head>
<body>


    <main>

    <!-- home page landing -->
    <div class="container">
        <div class="header-row">
            <button class="openNav" onclick="openNav()">&#9776;Menu</button>
            <h1 class="home-page_title">Welcome to BlueBelly</h1>
            <a href="/login" class="login">Sign Up/ Login</a>
        </div>
        <p>BlueBelly is a platform catered to food-lovers in the Wellesley community.
            Explore our crowdsourced database of restaurant reviews in the Boston area or
            add one of your own!
        </p>
    </div>
    <!-- navbar -->
    <div id="nav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/main-feed">Explore Restaurants</a>
        <a href="/review.html">Submit a Review</a>
        <a href="/profile">Profile</a>
    </div>


</main>
</body>
</html>
